{"openapi":"3.0.3","info":{"title":"recup-api","description":"Documentazione API ReCUP <p>ReCup API dispone di un'interfaccia swagger che espone le specifiche tecniche di ogni micro servizio secondo lo standard OpenAPI.</p><p>Ogni micro servizio è organizzato in base all'entità di competenza . Per ogni micro servizio è possibile visionare:<ul><li>tipologia di richiesta http</li><li>l'url del micro servizio da invocare</li><li>parametri di chiamata siano essi path parameters, query parameters, header parameters</li><li>request body di chiamata con accesso allo schema che ne descrive i campi</li><li>response con accesso allo schema che ne descrive i campi</li></ul></p>","license":{"name":" "},"version":"ALLSERVICES"},"servers":[{"url":"https://recup-webapi-appmobile-collaudo.regione.lazio.it:443","description":"Inferred Url"}],"tags":[{"name":"ASL","description":"Asl Controller"},{"name":"Accettazioni","description":"Admissions Controller"},{"name":"Agende","description":"Diaries Controller"},{"name":"Ambiti","description":"Area Controller"},{"name":"Appuntamenti/Prenotazioni","description":"Booking Controller"},{"name":"Classi di Priorità","description":"Priorities Controller"},{"name":"Coperture","description":"Covers Controller"},{"name":"Diagnosi","description":"Diagnosis Controller"},{"name":"Disponibilità","description":"Availabilities Controller"},{"name":"Documenti di pagamento","description":"Payment Documents Controller"},{"name":"Enti","description":"Authorities Controller"},{"name":"Esenzioni","description":"Exemptions Controller"},{"name":"Listini","description":"Price Lists Controller"},{"name":"Medici","description":"Doctors Controller"},{"name":"Motivazioni","description":"Reasons Controller"},{"name":"Ordini","description":"Orders Controller"},{"name":"Pacchetti Farmaci","description":"Drug Pack Controller"},{"name":"Pagamenti","description":"Payment Controller"},{"name":"Pazienti","description":"Patients Controller"},{"name":"Presidi","description":"Hospitals Controller"},{"name":"Prestazioni","description":"Healthcare Services Controller"},{"name":"Processo di Accettazione","description":"Apx Controllers"},{"name":"Processo di prenotazione","description":"Bpx Controller"},{"name":"Raggruppamenti Unità","description":"Operation Units Controller"},{"name":"Regimi di Erogazione","description":"Supply Modes Controller"},{"name":"Ricette","description":"Prescriptions Controller"},{"name":"Richieste Farmaci","description":"Drug Request Controller"},{"name":"Sbarramenti","description":"Booking Rules Controller"},{"name":"Sedi","description":"Sites Controller"},{"name":"Sedi di cassa","description":"Cash Site Controller"},{"name":"Sospensioni","description":"Suspensions Controller"},{"name":"Specializzazioni (Branche)","description":"Specializations Controller"},{"name":"Strutture agenda","description":"Diary Schema Controller"},{"name":"Unità Eroganti","description":"Execution Units Controller"},{"name":"Utenti","description":"Users Controller"},{"name":"operation-handler","description":"Operation Handler"}],"paths":{"/api/v3/system-apis/admissions":{"get":{"tags":["Accettazioni"],"summary":"Recupero Accettazioni","operationId":"getAdmissionsUsingGET","parameters":[{"name":"authorityIds","in":"query","description":"Stringa di Id enti separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"bookingIds","in":"query","description":"Stringa di Id appuntamenti separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"code","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"countResults","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"deviceCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"diaryIds","in":"query","description":"Stringa di Id agende separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"docEndTime","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"docStartTime","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"doctorId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"documentCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"documentId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"endTime","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"excludedPatientId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"executionEndDate","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"executionStartDate","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"executionUnitIds","in":"query","description":"Stringa di Id unita' eroganti separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"exempt","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"externalIds","in":"query","description":"Stringa di Id appuntamenti su ente esterno separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"findAssistacePath","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"hasReversalDocument","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"hospitalIds","in":"query","description":"Stringa di Id presidi separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"includeDeleted","in":"query","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"iuvCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"messageIds","in":"query","description":"Stringa di Id messaggi collegati separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"nre","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"onlyAuthorized","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"operationUnitIds","in":"query","description":"Stringa di Id unita' operative separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"orderNumber","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"patientId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"prescriptionTypeCategoryIds","in":"query","description":"Stringa di Id categorie regimi separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"prescriptionTypeIds","in":"query","description":"Stringa di Id regimi separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"prescriptionTypeIdsList","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"prescriptionTypeName","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"printProcessId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"processId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"remedesCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"reservationId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"serviceGroupIds","in":"query","description":"Stringa di Id tipologia di prestazioni separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"siteIds","in":"query","description":"Stringa di Id sedi separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"startTime","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"statuses","in":"query","description":"Stringa di stati accettazioni separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"takeOnlyPayed","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"userId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"validationStatus","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"withoutNumericalResult","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"withoutPrintedNumericalResult","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"Range","in":"header","description":"Range","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","description":"view","required":false,"style":"form","schema":{"type":"string","enum":["AVR","normal","synthetic","treemap","ultrasynthetic","ultraverbose","usercontext","verbose"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfAdmissionR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]},"post":{"tags":["Accettazioni"],"summary":"Creazione Accettazione","operationId":"createAdmissionUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdmissionRReq"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdmissionRRes"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v3/system-apis/admissions/admissiontype":{"get":{"tags":["Accettazioni"],"summary":"Recupero tipologie di accettazione","operationId":"findAdmissionTypeUsingGET","parameters":[{"name":"defaultAdmission","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"forDeceasedPatients","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"forPatientStrangerGuest","in":"query","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"grantRead","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"name","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"onlyActive","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyAuthorized","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"requiresPrescription","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"supplyModeCategory","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"supplyModeCategoryIds","in":"query","description":"Lista di Id categorie regimi separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"Range","in":"header","description":"Range","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","description":"view","required":false,"style":"form","schema":{"type":"string","enum":["AVR","normal","synthetic","treemap","ultrasynthetic","ultraverbose","usercontext","verbose"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfAdmissionTypeR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v3/system-apis/admissions/{admissionId}":{"patch":{"tags":["Accettazioni"],"summary":"Modifica Accettazione","operationId":"patchAdmissionUsingPATCH","parameters":[{"name":"admissionId","in":"path","description":"admissionId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatchOperation"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdmissionRRes"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]}},"/api/v3/system-apis/admissions/{id}":{"get":{"tags":["Accettazioni"],"summary":"Recupero dei dati dell'accettazione","operationId":"getAdmissionByIdUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfAdmissionR"}}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"security":[{"basicAuth":[]}]}},"/api/v4/process-apis/admission-cash-out-emergency-room/admissions":{"post":{"tags":["Accettazioni"],"summary":"Creazione Accettazione (Metodo utilizzato per l'integrazione del Pronto Soccorso)","description":"<p>Il servizio genera a partire dai dati passati in input un'accettazione per la prestazione \"standard\" configurata per il pronto soccorso e ne genera i documenti di pagamento. Concatena quindi le seguenti chiamate: </p><ol><li>Verifica la presenza a db dell’assistito, in caso non lo trovasse, ne crea uno nuovo.</li><li>Apre processo di accettazione</li><li>Crea Accettazione in accesso diretto sulla prestazione configurata.</li><li>Apre la cassa (in caso fosse già aperta recupera il processo di cassa)</li><li>Genera documenti e pagoPa</li><li>Recupera l’accettazione creata.</li><li>Chiude il processo di accettazione.</li></ol>. NB: Prima dell'esecuzione del servizio viene effettuato un controllo che i parametri di configurazione siano presenti.","operationId":"createPSAdmissionUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ACOERAdmissionCreate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfACOAdmissionRead"}}}},"201":{"description":"Created"},"400":{"description":"<ul><li>INVALID_CONFIG_PARAMETER - Parametri di configurazione yml non validi</li><li>Bad Request</li></ul>"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"<ul><li>SERVICE_NOT_FOUND - Prestazione non trovata</li><li>EXECUTION_UNIT_NOT_FOUND - Unita' Erogante non trovata</li><li>SITE_NOT_FOUND - Sede non trovata</li><li>ADMISSION_NOT_FOUND - Accettazione non trovata</li></ul>"},"500":{"description":"Internal Server Error"}},"security":[{"basicAuth":[]}]}},"/api/v4/process-apis/admission-cash-out-emergency-room/admissions/{admissionCode}/documents":{"get":{"tags":["Accettazioni"],"summary":"Recupero documenti appuntamento","description":"Servizio per il recupero dei possibili documenti legati ad un appauntamento.","operationId":"printBookingDocumentsUsingGET","parameters":[{"name":"admissionCode","in":"path","description":"Codice dell'accettazione, recuperato dalla chiamata POST: /api/v4/process-apis/admission-management/admissions o POST: /api/v4/process-apis/admission-cash-out-emergency-room/admissions, vedi schema che rappresenta l'accettazione (AdmissionR.code o ACOAdmissionRead.code","required":true,"style":"simple","schema":{"type":"string"}},{"name":"docType","in":"query","description":"Tipologia del documento che si intende scaricare <ul><li>PROMEMORIA - documentazione di promemoria appuntamento che puo' contenere anche l'avviso PagoPa. (Qualora l'integrazione PagoPa sia abilitata per la sede)</li><li>FATTURA - Documento fiscale generato per l'accettazione</li><li>INFO_PAGAMENTO_ONLINE - documentazione con informazioni per pagamento online (Avviso PagoPa, se integrazione PagoPa abilitata per la sede)</li></ul>","required":true,"style":"form","schema":{"type":"string","enum":["FATTURA","INFO_PAGAMENTO_ONLINE","PROMEMORIA"]}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"<ul><li>DOCUMENT_NOT_FOUND - Documento non trovato</li><li>ADMISSION_NOT_FOUND - Accettazione non trovata</li><ul>"}},"security":[{"basicAuth":[]}]}},"/api/v4/process-apis/admission-management/admissions":{"post":{"tags":["Accettazioni"],"summary":"Notifica Accettazione Diretta","description":"Tramite questo servizio il Sistema di Privato Accreditato potrà creare un'accettazione Diretta. Nel caso di in cui le prestazioni inerenti all'accettazione diretta facciano parte della branca Laboratorio queste verrano automaticamente registrate nel CUP Regionale come Erogate.","operationId":"createPAMAdmissionUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdmissionManagementAdmissionCreate"}}}},"responses":{"200":{"description":"<ul><li>ALREADY_ACCEPTED - La ricetta con NRE presenta già delle prestazioni in stato accettato.</li></ul>","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfAdmissionR"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]},"patch":{"tags":["Accettazioni"],"summary":"Modifica stato accettazione","description":"Servizio per aggiornare lo stato di un'accettazione e dei relativi ordini. E' possibile erogare oppure annullare l'erogazione.","operationId":"updateAdmissionsStatusUsingPATCH","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdmissionManagementAdmissionPatch"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfVoid"}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"basicAuth":[]}]}},"/api/v3/system-apis/apx":{"post":{"tags":["Processo di Accettazione"],"summary":"Creazione processo di accettazione","operationId":"createAdmissionProcessUsingPOST","parameters":[{"name":"headers","in":"header","description":"headers","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApxR"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApxR"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v3/system-apis/apx/{apxId}":{"patch":{"tags":["Processo di Accettazione"],"summary":"Modifica processo di accettazione","operationId":"patchAdmissionProcessUsingPATCH","parameters":[{"name":"headers","in":"header","description":"headers","required":true,"schema":{"type":"string"}},{"name":"apxId","in":"path","description":"apxId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PatchOperation"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApxR"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]}},"/api/v3/system-apis/apx/{id}.pdf":{"get":{"tags":["Processo di Accettazione"],"summary":"Recupero del promemoria","description":"Il servizio consente di recuperare la ricevuta relativa ad una accettazione, sulla base dell’identificativo del processo di accettazione ({processId}).","operationId":"printDocumentUsingGET","parameters":[{"name":"id","in":"path","description":"Id del processo di accettazione, vedi attributo Schema AdmissionR.processId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v3/system-apis/areas":{"get":{"tags":["Ambiti"],"summary":"Recupero Ambiti","operationId":"findAreasUsingGET","parameters":[{"name":"areaGroupIds","in":"query","description":"Lista di Id di gruppi ambiti separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"aslId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"authorityIds","in":"query","description":"Lista di Id enti separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"code","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"districtId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"hospitalIds","in":"query","description":"Lista di Id presidi separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"isPrivate","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"name","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"provinceId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"serviceId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"siteIds","in":"query","description":"Lista di Id sedi regimi separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"type","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"Range","in":"header","description":"Range","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","description":"view","required":false,"style":"form","schema":{"type":"string","enum":["AVR","normal","synthetic","treemap","ultrasynthetic","ultraverbose","usercontext","verbose"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfAreaR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v3/system-apis/asl":{"get":{"tags":["ASL"],"summary":"Recupero Codici delle ASL","operationId":"findAslUsingGET","parameters":[{"name":"code","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"name","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"quarterId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"referenceDate","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"regionId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"regionalCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"siteId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"townId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"Range","in":"header","description":"Range","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","description":"view","required":false,"style":"form","schema":{"type":"string","enum":["AVR","normal","synthetic","treemap","ultrasynthetic","ultraverbose","usercontext","verbose"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfAslR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v1/sys/authority":{"get":{"tags":["Enti"],"summary":"Recupero Enti","operationId":"findAuthorityUsingGET","parameters":[{"name":"authorityCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"fuzzySearch","in":"query","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"institutionId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"name","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"onlyAuthorized","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyDisconnected","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManageAuthority","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManageBudget","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManageHolidays","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManageHospital","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManageOpUnit","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManagePriceList","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManageSite","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManageUnit","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyViewBudget","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"referenceDate","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"regionId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"regionalCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"siteId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"typeId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"Range","in":"header","description":"Range","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","description":"view","required":false,"style":"form","schema":{"type":"string","enum":["AVR","normal","synthetic","treemap","ultrasynthetic","ultraverbose","usercontext","verbose"]}},{"name":"sort","in":"query","description":"sort","required":false,"style":"form","schema":{"type":"string"}},{"name":"diaryIds","in":"query","description":"diaryIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"serviceIds","in":"query","description":"serviceIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"serviceSetIds","in":"query","description":"serviceSetIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"budgetProfileIds","in":"query","description":"budgetProfileIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"deliverServiceIds","in":"query","description":"deliverServiceIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"allDeliverServiceIds","in":"query","description":"allDeliverServiceIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"excludeTypeIds","in":"query","description":"excludeTypeIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"organizationAslIds","in":"query","description":"organizationAslIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfAuthorityR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v3/system-apis/authorities":{"get":{"tags":["Enti"],"summary":"Recupero Enti","operationId":"findAuthorityUsingGET_1","parameters":[{"name":"authorityCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"fuzzySearch","in":"query","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"institutionId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"name","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"onlyAuthorized","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyDisconnected","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManageAuthority","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManageBudget","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManageHolidays","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManageHospital","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManageOpUnit","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManagePriceList","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManageSite","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyManageUnit","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"onlyViewBudget","in":"query","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"referenceDate","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"regionId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"regionalCode","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"siteId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"typeId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"Range","in":"header","description":"Range","required":false,"schema":{"type":"string"}},{"name":"view","in":"query","description":"view","required":false,"style":"form","schema":{"type":"string","enum":["AVR","normal","synthetic","treemap","ultrasynthetic","ultraverbose","usercontext","verbose"]}},{"name":"sort","in":"query","description":"sort","required":false,"style":"form","schema":{"type":"string"}},{"name":"diaryIds","in":"query","description":"diaryIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"serviceIds","in":"query","description":"serviceIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"serviceSetIds","in":"query","description":"serviceSetIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"budgetProfileIds","in":"query","description":"budgetProfileIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"deliverServiceIds","in":"query","description":"deliverServiceIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"allDeliverServiceIds","in":"query","description":"allDeliverServiceIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"excludeTypeIds","in":"query","description":"excludeTypeIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"organizationAslIds","in":"query","description":"organizationAslIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfAuthorityR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v1/oms/availability/async":{"get":{"tags":["Disponibilità"],"summary":"Ricerca disponibilità asincrona (utilizzato per lo scenario  Vaccini)","operationId":"findAvailabilitiesAsyncUsingGET","parameters":[{"name":"params","in":"query","description":"params","required":true,"style":"deepObject","explode":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"authorityIds","in":"query","description":"authorityIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"hospitalIds","in":"query","description":"hospitalIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"siteIds","in":"query","description":"siteIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"unitIds","in":"query","description":"unitIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"diaryIds","in":"query","description":"diaryIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"orders","in":"query","description":"orders","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"deliveryPlaceIds","in":"query","description":"deliveryPlaceIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"deliveryPlaceSiteIds","in":"query","description":"deliveryPlaceSiteIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"deliveryPlaceAuthorityIds","in":"query","description":"deliveryPlaceAuthorityIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"correlationStrategies","in":"query","description":"correlationStrategies","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"supplyModeIds","in":"query","description":"supplyModeIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfAvailabilityR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v1/oms/availability/combined":{"get":{"tags":["Disponibilità"],"summary":"C.4. Recupero Disponibilità Combinate (utilizzato per lo scenario Vaccini)","description":"Il servizio si occupa di gestire il recupero dal sistema cup delle disponibilità in termini di giorni/orari dove sia possibile prenotare un appuntamento vaccinale. ATTENZIONE, in risposta, nel caso di vaccino monodose il campo combination sarà a null. ","operationId":"findCombinedAvailabilitiesUsingGET","parameters":[{"name":"campaignId","in":"query","description":"Riferimento della campagna scelta","required":true,"style":"form","schema":{"type":"string"}},{"name":"fromDate","in":"query","description":"data di recupero disponibilità,  “a partire da” ( opzionale )","required":false,"style":"form","schema":{"type":"string","format":"date"}},{"name":"executionUnitIds","in":"query","description":"riferimento alla PDS, se omesso vengono ritornate la prima disponibilità di tutte le PDS","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"personId","in":"query","description":"personId","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfCombinedAvailabilityR"}}}},"400":{"description":"<ul><li>CAMPAIGN_NOT_FOUND</li><li>INVALID_USER</li></ul>"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v1/prenotazione-visite-specialistiche/oms/availability":{"get":{"tags":["Disponibilità"],"summary":"Ricerca disponibilita' semplificato per utenti (utilizzato per lo scenario prenotazione visite specialistiche)","description":"Una volta ottenuto l’idTransazione (processId) è possibile procedere alla ricerca di prima disponibilità per ogni prestazione all’interno dell’impegnativa, utilizzando il seguente servizio","operationId":"findAvailabilitiesUsingGET","parameters":[{"name":"orderIds","in":"query","description":"stringa csv di prestazioni da ricercare","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"nre","in":"query","description":"numero ricetta","required":true,"style":"form","schema":{"type":"string"}},{"name":"prescriptionPriority","in":"query","description":"Id priorità ricetta","required":true,"style":"form","schema":{"type":"string"}},{"name":"personId","in":"query","description":"Id anagrafico paziente","required":true,"style":"form","schema":{"type":"string"}},{"name":"processId","in":"query","description":"L'ID del processo di prenotazione","required":true,"style":"form","schema":{"type":"string"}},{"name":"firstBy","in":"query","description":"<ul><li><strong>hospital-best-3</strong>: ottengo le 3 migliori disponibilità in assoluto ottimizzate al presidio più vicino dell’assistito</li><li><strong>hospital-best-10</strong>: ottengo le 10 migliori disponibilità NON ottimizzate al presidio più vicino dell’assistito, quindi potenzialmente sui presidi della regione</li><li><strong>date-best-10</strong>:  ottengo le migliori dieci disponibilità a livello regionale in base al range di date (vedi parametro bookingDate) </li></ul>","required":false,"style":"form","schema":{"type":"string"}},{"name":"hospitalId","in":"query","description":"Id del presidio ovvero dell’ospedale. Ogni presidio può essere poi organizzato in più sedi (siteId).","required":false,"style":"form","schema":{"type":"string"}},{"name":"siteId","in":"query","description":"Id della sede appartenente ad un presidio. La sede a differenza del presidio è caratterizzata da un indirizzo","required":false,"style":"form","schema":{"type":"string"}},{"name":"bookingDate","in":"query","description":"ricerca disponibilità a partire da data","required":false,"style":"form","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfAvailabilityR"}}}},"400":{"description":"Ricetta non utilizzabile"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v2/oms/availability":{"get":{"tags":["Disponibilità"],"summary":"Ricerca disponibilità per operatori in base ai parametri impostati","operationId":"findAvailabilitiesOperatorUsingGET","parameters":[{"name":"areaIds","in":"query","description":"Lista di Id ambiti separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"authorityIds","in":"query","description":"Lista di Id enti separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"deliveryPlaceAuthorityIds","in":"query","description":"Lista di Id punti di prelievo ente separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"deliveryPlaceIds","in":"query","description":"Lista di Id punti di prelievo separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"deliveryPlaceSiteIds","in":"query","description":"Lista di Id sede punti di prelievo separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"diaryIds","in":"query","description":"Lista di Id agende separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"diaryScope","in":"query","description":" * all: ricerca sia nelle agende di enti interni che esterni\n * internalOnly: ricerca solo sulle agende di enti interni (default)\n * externalOnly: ricerca solo sulle agende di enti esterni\n","required":false,"style":"form","schema":{"type":"string","enum":["all","externalOnly","internalOnly"]}},{"name":"firstBy","in":"query","description":" * absolute: migliore disponibilità assoluta\n * authority: prima disponibilita' per ente\n * date: prima disponibilita' per data\n * diary: prima disponibilita' per agenda\n * hospital: prima disponibilita' per presidio\n * timeband: prima disponibilita' per fascia agende","required":false,"style":"form","schema":{"type":"string","enum":["absolute","authority","date","diary","hospital","timeband"]}},{"name":"fromDate","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date"}},{"name":"fromTime.hour","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"fromTime.minute","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"fromTime.nano","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"fromTime.second","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"hospitalIds","in":"query","description":"Lista di Id presidi separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"ignoreRequestWardId","in":"query","description":"Ignora reparto inviante, parametro per prenotazioni in regime interno (I), da passare a true, quando non si conosce il reparto inviante","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"inArea","in":"query","description":"Ricerca nei pressi della residenza del paziente","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"inFirstAvail","in":"query","description":"Filtro per attivare la ricerca su agende abilitate o meno al calcolo della prima disponibilita","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"lockBestAvailability","in":"query","description":"Attiva esplicitamente il lock automatico","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"online","in":"query","description":"Indica se la prestazione di cui si sta cercando disponibilità deve essere prenotabile online","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"organizationAslIdS","in":"query","description":"Lista di Id asl separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"personId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"processId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"requestWardId","in":"query","description":"Reparto inviante, parametro per prenotazioni in regime interno (I)","required":false,"style":"form","schema":{"type":"string"}},{"name":"saveFirstResult","in":"query","description":"Attiva salvataggio su database della prima disponibilità assoluta","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"searchGrouping","in":"query","description":"Forza la ricerca a raggruppare le prestazioni (stessa data, stessa agenda)","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"siteIds","in":"query","description":"Lista di Id sedi separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"supplyModeCategoryIds","in":"query","description":"Lista di Id di categoria regime di erogazione separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"supplyModeCategoryMask","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"supplyModeIds","in":"query","description":"Lista di Id di regimi separati da virgola","required":true,"style":"form","schema":{"type":"string"}},{"name":"timebandId","in":"query","description":"Id della fascia su cui effettuare la ricerca","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"toDate","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date"}},{"name":"toTime.hour","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"toTime.minute","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"toTime.nano","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"toTime.second","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"unitIds","in":"query","description":"Lista di Id unita' separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"weekDays","in":"query","description":"Bitmask per indicare in quali giorni della settimana effettuare la ricerca ES: Lunedì e Sabato -> 33.\n * Lunedì = 1\n * Martedì = 2\n * Mercoledì = 4\n * Giovedì = 8\n * Venerdì = 16\n * Sabato = 32\n * Domenica = 64","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"sort","required":false,"style":"form","schema":{"type":"string"}},{"name":"view","in":"query","description":"view","required":false,"style":"form","schema":{"type":"string","enum":["AVR","normal","synthetic","treemap","ultrasynthetic","ultraverbose","usercontext","verbose"]}},{"name":"Range","in":"header","description":"items=0-19","required":false,"schema":{"type":"string"}},{"name":"orders","in":"query","description":"Lista di stringhe nel formato Y|XX|IdPrestazione|Priorita'|N , una per ogni prestazione. Indentifica quali prestazioni appartengono a quale ricetta, le | sono encodate con %7C\n * Y: corrisponde ad Y in correlationStrategies, indica che la prestazione appartiene alla ricetta con id Y\n * XX: due lettere ranomiche assegnate dal client\n * IdPrestazione: l'id interno della prestazione che si vuole prenotare\n * Priorita': l'id della priorita' della ricetta\n * N: parametro fisso","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"correlationStrategies","in":"query","description":"Lista di stringhe nel formato Y|NRE|NumeroRicetta , una per ogni ricetta le | sono encodate con %7C\n * Y: numero sequenziale a partire da 0, deve essere poi riportato in Y del parametro orders\n * NRE: parametro fisso\n * NumeroRicetta: il numero della ricetta","required":true,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfAvailabilityR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v3/experience-apis/citizens/availabilities":{"get":{"tags":["Disponibilità"],"summary":"Ricerca disponibilita' semplificato per utenti (utilizzato per lo scenario prenotazione visite specialistiche)","description":"Una volta ottenuto l’idTransazione (processId) è possibile procedere alla ricerca di prima disponibilità per ogni prestazione all’interno dell’impegnativa, utilizzando il seguente servizio","operationId":"findAvailabilitiesUsingGET_1","parameters":[{"name":"orderIds","in":"query","description":"stringa csv di prestazioni da ricercare","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"nre","in":"query","description":"numero ricetta","required":true,"style":"form","schema":{"type":"string"}},{"name":"prescriptionPriority","in":"query","description":"Id priorità ricetta","required":true,"style":"form","schema":{"type":"string"}},{"name":"personId","in":"query","description":"Id anagrafico paziente","required":true,"style":"form","schema":{"type":"string"}},{"name":"processId","in":"query","description":"L'ID del processo di prenotazione","required":true,"style":"form","schema":{"type":"string"}},{"name":"firstBy","in":"query","description":"<ul><li><strong>hospital-best-3</strong>: ottengo le 3 migliori disponibilità in assoluto ottimizzate al presidio più vicino dell’assistito</li><li><strong>hospital-best-10</strong>: ottengo le 10 migliori disponibilità NON ottimizzate al presidio più vicino dell’assistito, quindi potenzialmente sui presidi della regione</li><li><strong>date-best-10</strong>:  ottengo le migliori dieci disponibilità a livello regionale in base al range di date (vedi parametro bookingDate) </li></ul>","required":false,"style":"form","schema":{"type":"string"}},{"name":"hospitalId","in":"query","description":"Id del presidio ovvero dell’ospedale. Ogni presidio può essere poi organizzato in più sedi (siteId).","required":false,"style":"form","schema":{"type":"string"}},{"name":"siteId","in":"query","description":"Id della sede appartenente ad un presidio. La sede a differenza del presidio è caratterizzata da un indirizzo","required":false,"style":"form","schema":{"type":"string"}},{"name":"bookingDate","in":"query","description":"ricerca disponibilità a partire da data","required":false,"style":"form","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfAvailabilityR"}}}},"400":{"description":"Ricetta non utilizzabile"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v3/experience-apis/doctors/availabilities":{"get":{"tags":["Disponibilità"],"summary":"Ricerca disponibilita' per dottori","operationId":"findDoctorsAvailabilitiesUsingGET","parameters":[{"name":"authorityIds","in":"query","description":"Enti: Lista di Id presidi separati da virgola, ","required":false,"style":"form","schema":{"type":"string"}},{"name":"availabilityOnAuthority","in":"query","description":"Specifica su quale tipologia di enti effettuare la ricerca (Defalut internal) : <ul><li><strong>internal</strong>: Solo aziende interne all'Asl</li><li><strong>external</strong>: Solo aziende private (esterne all'Asl)</li><li><strong>internalAndExternal</strong>: Sia aziente interne all'Asl sia esterne</li></ul>","required":false,"style":"form","schema":{"type":"string","enum":["external","internal","internalAndExternal"]}},{"name":"checkCriticalServices","in":"query","description":"Verifica idoneità prestazioni in ricetta. Verifico se le prestazioni in ricetta sono critiche.","required":true,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"checkGroupedServices","in":"query","description":"Verifica idoneità prestazioni in ricetta. Verifico se le prestazioni in ricetta sono raggruppabili e quindi prenotabili in unica soluzione.","required":true,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"checkOnlineServices","in":"query","description":"Verifica idoneità prestazioni in ricetta. Verifico se le prestazioni in ricetta sono prenotabili online.","required":true,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"checkStatusAppointments","in":"query","description":"Consente di verificare che la ricetta sia utilizzabile, ovvero che non abbia eventuali appuntamenti già presi.","required":true,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"checkSupplyMode","in":"query","description":"Verifica idoneità prestazioni in ricetta. Effettuo verifiche sul supplopy Mode passato. Per esempio nel caso PDTA il sistema si assicurerà che nella ricetta passata sia presente la cosidetta \"prestazione tracciante\" che identifica il \"Percorso Diagnostico ","required":true,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"diaryIds","in":"query","description":"Agende: Lista di Id agende separati da virgola, Un agenda contiene le  fasce orarie, le prestazioni erogabili, i regimi di erogazioni previsti ecc. al fine di identificare l'offerta in termini di calendario di disponibilità per unità erogante. Vedi Schema DiaryR.id","required":false,"style":"form","schema":{"type":"string"}},{"name":"doctorId","in":"query","description":"Medico: Identificativo interno del medico a cui è stata configurata un 'agenda di sua competenza. Vedi Schema DoctorR.id","required":false,"style":"form","schema":{"type":"string"}},{"name":"firstBy","in":"query","description":"Permette di definire il tipo di disponibilità che stiamo cercando: <ul><li><strong>firstBy_hospital_inArea</strong>: migliore disponibilità per presidio all'interno dell'ambito di garanzia dell'assistito (ovvero nella sua Asl di riferimento).</li><li><strong>firstBy_hospital</strong>: migliore disponibilità per presidio su tutta la Regione</li><li><strong>firstBy_date</strong>: migliore disponibilità a livello regionale per data</li><li>se questo parametro non è valorizzato bisogna provvedere a valorizzare almeno uno dei parametri<ul><li>ASL di riferimento - organizationAslIdS</li><li>Presidi - hospitalIds</li><li>Sedi - siteIds</li><li>Unità Eroganti - unitIds</li><li>Agende - diaryIds</li><li>Regime - supplyModeId</li><li>Identificativo interno del medico a cui è stata configurata un 'agenda di sua competenza - doctorId</li></ul></li></ul>","required":false,"style":"form","schema":{"type":"string","enum":["firstBy_date","firstBy_hospital","firstBy_hospital_inArea"]}},{"name":"fromDate","in":"query","description":"Data a partire dalla quale voglio ricercare le disponibilità nel formato YYYY-MM-DD","required":true,"style":"form","schema":{"type":"string","format":"date"}},{"name":"hospitalIds","in":"query","description":"Presidi: Lista di Id presidi separati da virgola, Poliambulatorio/Presidio Ospedaliero sul territorio dell'Azienda o che fa parte dell'Azienda Ospedaliera. Per le Strutture private, maggiormente, il presidio corrisponderà alla Struttura stessa. Nel caso in cui la Struttura Privata abbia più di un presidio, si potranno comunque configurare. Vedi Schema HospitalR.id","required":false,"style":"form","schema":{"type":"string"}},{"name":"inFirstAvail","in":"query","description":"Filtro per attivare la ricerca su agende abilitate o meno al calcolo della prima disponibilita","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"nre","in":"query","description":"Identificativo univoco ricetta DEMA Identificativo univoco ricetta DEMA da passare obbligatoriamente se il supplyModeId  = A","required":false,"style":"form","schema":{"type":"string"}},{"name":"orderIds","in":"query","description":"Lista codici prestazioni da ricercare, separati da virgola. Vedi Schema HealthcareServiceR.id","required":true,"style":"form","schema":{"type":"string"}},{"name":"organizationAslIdS","in":"query","description":"ASL di riferimento: lista di Id ASL di riferimento separati da virgola, i valori di questo parametro di ricerca devono essere coerenti con quanto specificato nel parametro \"ambito di garanzia assistito\". Vedi Schema AslR.id","required":false,"style":"form","schema":{"type":"string"}},{"name":"personId","in":"query","description":"Identificativo interno al sistema dell'assistito. Vedi Schema PatientRRes.id (Vedi servizio sezione \"Pazienti\" per recuperare il personId)","required":true,"style":"form","schema":{"type":"string"}},{"name":"processId","in":"query","description":"Identificativo processo di prenotazione. Vedi Schema BpxR.id (Vedi servizi sezione \"Processo di prenotazione\") Tale identificativo viene utilizzato per tracciare l'intero processo di prenotazione dalla ricerca alla conferma della disponibilità.","required":true,"style":"form","schema":{"type":"string"}},{"name":"siteIds","in":"query","description":"Sedi: Lista di Id sedi separati da virgola, Ripartizione territoriale del Presidio sul territorio. Indentifica l’indirizzo geografico comunicato all’assistito dove recarsi per l’erogazione della prestazione. Vedi Schema SiteR.id","required":false,"style":"form","schema":{"type":"string"}},{"name":"supplyModeId","in":"query","description":"Regime: permette di filtrare per un regime previsto nelle agende configurate. Vedi Schema SupplyModeR.id (Vedi serzi sezione \"Regimi di erogazione\" per ottenere lista completa regimi configurati a sistema). In base ai regimi passati il sistema potrebbe effettuare ulteriori verifiche. Nel caso PDTA per esempio il sistema si assicurerà che nella ricetta passata sia presente la cosidetta \"prestazione tracciante\" che identifica il \"Percorso Diagnostico\". Per esempio: <ul><li>A - SSN</li><li>B - Solvente</li><li>C - Libera professione</li><li>D - Convenzione</li><li>H - PDTA</li> <li>W - Vaccinazioni Standard</li></ul>","required":true,"style":"form","schema":{"type":"string"}},{"name":"toDate","in":"query","description":"Data entro la quale voglio ricercare le disponibilità nel formato YYYY-MM-DD (utile nel caso in cui si voglia definire un range di date entro le quali ricercare le disponibilità. Se volessi cercare le disponibilità per una precisa giornata è sufficiente impostare fromDate e toDate con lo stesso valore)","required":false,"style":"form","schema":{"type":"string","format":"date"}},{"name":"unitIds","in":"query","description":"Unità eroganti: Lista di Id unita' separati da virgola, unità minima che eroga le prestazioni (Medici, Stanze, Apparecchiatura ecc.). Questo livello sarà configurato per tutte le Aziende Regionali e Strutture Private che espongono l’offerta. Vedi Schema ExecutionUnitRRes.id","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfAvailabilityR"}}}},"400":{"description":"Ricetta non utilizzabile"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v3/process-apis/vaccine/availabilities/async":{"get":{"tags":["Disponibilità"],"summary":"Ricerca disponibilità asincrona (utilizzato per lo scenario  Vaccini)","operationId":"findAvailabilitiesAsyncUsingGET_1","parameters":[{"name":"params","in":"query","description":"params","required":true,"style":"deepObject","explode":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"authorityIds","in":"query","description":"authorityIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"hospitalIds","in":"query","description":"hospitalIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"siteIds","in":"query","description":"siteIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"unitIds","in":"query","description":"unitIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"diaryIds","in":"query","description":"diaryIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"orders","in":"query","description":"orders","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"deliveryPlaceIds","in":"query","description":"deliveryPlaceIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"deliveryPlaceSiteIds","in":"query","description":"deliveryPlaceSiteIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"deliveryPlaceAuthorityIds","in":"query","description":"deliveryPlaceAuthorityIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"correlationStrategies","in":"query","description":"correlationStrategies","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"supplyModeIds","in":"query","description":"supplyModeIds","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfAvailabilityR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v3/process-apis/vaccine/availabilities/combined":{"get":{"tags":["Disponibilità"],"summary":"C.4. Recupero Disponibilità Combinate (utilizzato per lo scenario Vaccini)","description":"Il servizio si occupa di gestire il recupero dal sistema cup delle disponibilità in termini di giorni/orari dove sia possibile prenotare un appuntamento vaccinale. ATTENZIONE, in risposta, nel caso di vaccino monodose il campo combination sarà a null. ","operationId":"findCombinedAvailabilitiesUsingGET_1","parameters":[{"name":"campaignId","in":"query","description":"Riferimento della campagna scelta","required":true,"style":"form","schema":{"type":"string"}},{"name":"fromDate","in":"query","description":"data di recupero disponibilità,  “a partire da” ( opzionale )","required":false,"style":"form","schema":{"type":"string","format":"date"}},{"name":"executionUnitIds","in":"query","description":"riferimento alla PDS, se omesso vengono ritornate la prima disponibilità di tutte le PDS","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"personId","in":"query","description":"personId","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfCombinedAvailabilityR"}}}},"400":{"description":"<ul><li>CAMPAIGN_NOT_FOUND</li><li>INVALID_USER</li></ul>"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v3/system-apis/availabilities":{"get":{"tags":["Disponibilità"],"summary":"Ricerca disponibilità per operatori in base ai parametri impostati","operationId":"findAvailabilitiesOperatorUsingGET_1","parameters":[{"name":"areaIds","in":"query","description":"Lista di Id ambiti separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"authorityIds","in":"query","description":"Lista di Id enti separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"deliveryPlaceAuthorityIds","in":"query","description":"Lista di Id punti di prelievo ente separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"deliveryPlaceIds","in":"query","description":"Lista di Id punti di prelievo separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"deliveryPlaceSiteIds","in":"query","description":"Lista di Id sede punti di prelievo separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"diaryIds","in":"query","description":"Lista di Id agende separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"diaryScope","in":"query","description":" * all: ricerca sia nelle agende di enti interni che esterni\n * internalOnly: ricerca solo sulle agende di enti interni (default)\n * externalOnly: ricerca solo sulle agende di enti esterni\n","required":false,"style":"form","schema":{"type":"string","enum":["all","externalOnly","internalOnly"]}},{"name":"firstBy","in":"query","description":" * absolute: migliore disponibilità assoluta\n * authority: prima disponibilita' per ente\n * date: prima disponibilita' per data\n * diary: prima disponibilita' per agenda\n * hospital: prima disponibilita' per presidio\n * timeband: prima disponibilita' per fascia agende","required":false,"style":"form","schema":{"type":"string","enum":["absolute","authority","date","diary","hospital","timeband"]}},{"name":"fromDate","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date"}},{"name":"fromTime.hour","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"fromTime.minute","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"fromTime.nano","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"fromTime.second","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"hospitalIds","in":"query","description":"Lista di Id presidi separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"ignoreRequestWardId","in":"query","description":"Ignora reparto inviante, parametro per prenotazioni in regime interno (I), da passare a true, quando non si conosce il reparto inviante","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"inArea","in":"query","description":"Ricerca nei pressi della residenza del paziente","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"inFirstAvail","in":"query","description":"Filtro per attivare la ricerca su agende abilitate o meno al calcolo della prima disponibilita","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"lockBestAvailability","in":"query","description":"Attiva esplicitamente il lock automatico","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"online","in":"query","description":"Indica se la prestazione di cui si sta cercando disponibilità deve essere prenotabile online","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"organizationAslIdS","in":"query","description":"Lista di Id asl separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"personId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"processId","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"requestWardId","in":"query","description":"Reparto inviante, parametro per prenotazioni in regime interno (I)","required":false,"style":"form","schema":{"type":"string"}},{"name":"saveFirstResult","in":"query","description":"Attiva salvataggio su database della prima disponibilità assoluta","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"searchGrouping","in":"query","description":"Forza la ricerca a raggruppare le prestazioni (stessa data, stessa agenda)","required":false,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"siteIds","in":"query","description":"Lista di Id sedi separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"supplyModeCategoryIds","in":"query","description":"Lista di Id di categoria regime di erogazione separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"supplyModeCategoryMask","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"supplyModeIds","in":"query","description":"Lista di Id di regimi separati da virgola","required":true,"style":"form","schema":{"type":"string"}},{"name":"timebandId","in":"query","description":"Id della fascia su cui effettuare la ricerca","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"toDate","in":"query","required":false,"style":"form","schema":{"type":"string","format":"date"}},{"name":"toTime.hour","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"toTime.minute","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"toTime.nano","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"toTime.second","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"unitIds","in":"query","description":"Lista di Id unita' separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"weekDays","in":"query","description":"Bitmask per indicare in quali giorni della settimana effettuare la ricerca ES: Lunedì e Sabato -> 33.\n * Lunedì = 1\n * Martedì = 2\n * Mercoledì = 4\n * Giovedì = 8\n * Venerdì = 16\n * Sabato = 32\n * Domenica = 64","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"sort","required":false,"style":"form","schema":{"type":"string"}},{"name":"view","in":"query","description":"view","required":false,"style":"form","schema":{"type":"string","enum":["AVR","normal","synthetic","treemap","ultrasynthetic","ultraverbose","usercontext","verbose"]}},{"name":"Range","in":"header","description":"items=0-19","required":false,"schema":{"type":"string"}},{"name":"orders","in":"query","description":"Lista di stringhe nel formato Y|XX|IdPrestazione|Priorita'|N , una per ogni prestazione. Indentifica quali prestazioni appartengono a quale ricetta, le | sono encodate con %7C\n * Y: corrisponde ad Y in correlationStrategies, indica che la prestazione appartiene alla ricetta con id Y\n * XX: due lettere ranomiche assegnate dal client\n * IdPrestazione: l'id interno della prestazione che si vuole prenotare\n * Priorita': l'id della priorita' della ricetta\n * N: parametro fisso","required":true,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"correlationStrategies","in":"query","description":"Lista di stringhe nel formato Y|NRE|NumeroRicetta , una per ogni ricetta le | sono encodate con %7C\n * Y: numero sequenziale a partire da 0, deve essere poi riportato in Y del parametro orders\n * NRE: parametro fisso\n * NumeroRicetta: il numero della ricetta","required":true,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfAvailabilityR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v4/experience-apis/doctors/availabilities":{"get":{"tags":["Disponibilità"],"summary":"Ricerca disponibilita' per dottori","description":"Ricerca disponibilità per dottori in base ai parametri impostati, il servizio ritorna di default 31 risultati, in caso fosse necessario ottenere un numero maggiore di risultati, contattare l'assistenza.","operationId":"findV4DoctorsAvailabilitiesFirstAvailUsingGET","parameters":[{"name":"availabilityOnAuthority","in":"query","description":"Specifica su quale tipologia di enti effettuare la ricerca (Defalut internal) : <ul><li><strong>internal</strong>: Solo aziende interne all'Asl</li><li><strong>external</strong>: Solo aziende private (esterne all'Asl)</li><li><strong>internalAndExternal</strong>: Sia aziente interne all'Asl sia esterne</li></ul>","required":false,"style":"form","schema":{"type":"string","enum":["external","internal","internalAndExternal"]}},{"name":"checkCriticalServices","in":"query","description":"Verifica idoneità prestazioni in ricetta. Verifico se le prestazioni in ricetta sono critiche.","required":true,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"checkGroupedServices","in":"query","description":"Verifica idoneità prestazioni in ricetta. Verifico se le prestazioni in ricetta sono raggruppabili e quindi prenotabili in unica soluzione.","required":true,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"checkOnlineServices","in":"query","description":"Verifica idoneità prestazioni in ricetta. Verifico se le prestazioni in ricetta sono prenotabili online.","required":true,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"checkStatusAppointments","in":"query","description":"Consente di verificare che la ricetta sia utilizzabile, ovvero che non abbia eventuali appuntamenti già presi.","required":true,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"checkSupplyMode","in":"query","description":"Verifica idoneità prestazioni in ricetta. Effettuo verifiche sul supplopy Mode passato. Per esempio nel caso PDTA il sistema si assicurerà che nella ricetta passata sia presente la cosidetta \"prestazione tracciante\" che identifica il \"Percorso Diagnostico ","required":true,"style":"form","schema":{"type":"string","enum":["N","Y"]}},{"name":"contextIdentifierType","in":"query","description":"Indica su quale identificatore effettuare la ricerca","required":false,"style":"form","schema":{"type":"string","enum":["CODICE_MINISTERIALE","CODICE_NSIS","CODICE_REGIONALE","ID_INTERNO"]}},{"name":"contextIdentifiers","in":"query","description":"Lista di codici identificativi separati da virgola (in base al contextType e contextIdentifierType indicati)","required":false,"style":"form","schema":{"type":"string"}},{"name":"contextType","in":"query","description":"Indica su quale contesto andare a ricercare:<ul><li>ENTE: contextIdentifierType -> CODICE_REGIONALE o ID_INTERNO</li><li>PRESIDIO: contextIdentifierType -> CODICE_NSIS o ID_INTERNO</li><li>SEDE: contextIdentifierType -> CODICE_MINISTERIALE, CODICE_REGIONALE o ID_INTERNO</li><li>UNITA' EROGANTE: contextIdentifierType -> ID_INTERNO</li></ul>","required":false,"style":"form","schema":{"type":"string","enum":["ENTE","ORGANIZZAZIONE","PRESIDIO","SEDE","UNITA_EROGANTE"]}},{"name":"diaryIds","in":"query","description":"Agende: Lista di Id agende separati da virgola, Un agenda contiene le  fasce orarie, le prestazioni erogabili, i regimi di erogazioni previsti ecc. al fine di identificare l'offerta in termini di calendario di disponibilità per unità erogante. Vedi Schema DiaryR.id","required":false,"style":"form","schema":{"type":"string"}},{"name":"doctorFiscalCode","in":"query","description":"Medico: Codice fiscale del medico a cui è stata configurata un 'agenda di sua competenza.","required":false,"style":"form","schema":{"type":"string"}},{"name":"firstBy","in":"query","description":"Permette di definire il tipo di disponibilità che stiamo cercando: <ul><li><strong>firstBy_hospital_inArea</strong>: migliore disponibilità per presidio all'interno dell'ambito di garanzia dell'assistito (ovvero nella sua Asl di riferimento).</li><li><strong>firstBy_hospital</strong>: migliore disponibilità per presidio su tutta la Regione</li><li><strong>firstBy_date</strong>: migliore disponibilità a livello regionale per data</li><li>se questo parametro non è valorizzato bisogna provvedere a valorizzare almeno uno dei parametri<ul><li>ASL di riferimento - organizationAslIdS</li><li>Presidi - hospitalIds</li><li>Sedi - siteIds</li><li>Unità Eroganti - unitIds</li><li>Agende - diaryIds</li><li>Regime - supplyModeId</li><li>Identificativo interno del medico a cui è stata configurata un 'agenda di sua competenza - doctorId</li></ul></li></ul>","required":false,"style":"form","schema":{"type":"string","enum":["firstBy_date","firstBy_hospital","firstBy_hospital_inArea"]}},{"name":"fromDate","in":"query","description":"Data a partire dalla quale voglio ricercare le disponibilità nel formato YYYY-MM-DD","required":true,"style":"form","schema":{"type":"string","format":"date"}},{"name":"nre","in":"query","description":"Identificativo univoco ricetta DEMA da passare obbligatoriamente se il supplyModeId = A","required":false,"style":"form","schema":{"type":"string"}},{"name":"orderCURIds","in":"query","description":"Lista codici cur prestazioni da ricercare, separati da virgola. Vedi Schema HealthcareServiceR.code","required":true,"style":"form","schema":{"type":"string"}},{"name":"organizationAslIdS","in":"query","description":"ASL di riferimento: lista di Id ASL di riferimento separati da virgola, i valori di questo parametro di ricerca devono essere coerenti con quanto specificato nel parametro \"ambito di garanzia assistito\". Vedi Schema AslR.id","required":false,"style":"form","schema":{"type":"string"}},{"name":"personIdentifier","in":"query","description":"In questo campo è possibile passare: <ul><li>Codice fiscale dell'assistito</li><li>Codice STP (codice per identificare paziente \"straniero temporaneamente presente\" su suolo italiano). Il codice in questione deve avere come prefisso STP</li><li>Codice ENI (codice per identificare paziente \"europeo non iscritto\" in condizioni di indigenza e privi di assistenza sanitaria). Il codice in questione deve avere come prefisso ENI</li></ul> N.B: Il campo e' obbligatorio in quanto verra' effettuato un controllo di coerenza NRE, paziente","required":true,"style":"form","schema":{"type":"string"}},{"name":"processId","in":"query","description":"Identificativo processo di prenotazione. Vedi Schema BpxR.id (Vedi servizi sezione \"Processo di prenotazione\") Tale identificativo viene utilizzato per tracciare l'intero processo di prenotazione dalla ricerca alla conferma della disponibilità.","required":false,"style":"form","schema":{"type":"string"}},{"name":"supplyModeId","in":"query","description":"Regime: permette di filtrare per un regime previsto nelle agende configurate. Vedi Schema SupplyModeR.id (Vedi serzi sezione \"Regimi di erogazione\" per ottenere lista completa regimi configurati a sistema). In base ai regimi passati il sistema potrebbe effettuare ulteriori verifiche. Nel caso PDTA per esempio il sistema si assicurerà che nella ricetta passata sia presente la cosidetta \"prestazione tracciante\" che identifica il \"Percorso Diagnostico\". Per esempio: <ul><li>A - SSN</li><li>B - Solvente</li><li>C - Libera professione</li><li>D - Convenzione</li><li>H - PDTA</li> <li>W - Vaccinazioni Standard</li></ul>","required":true,"style":"form","schema":{"type":"string"}},{"name":"toDate","in":"query","description":"Data entro la quale voglio ricercare le disponibilità nel formato YYYY-MM-DD (utile nel caso in cui si voglia definire un range di date entro le quali ricercare le disponibilità. Se volessi cercare le disponibilità per una precisa giornata è sufficiente impostare fromDate e toDate con lo stesso valore)","required":false,"style":"form","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfExperienceDoctorAvailabilityRead"}}}},"400":{"description":"Ricetta non utilizzabile"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v4/experience-apis/external-authorities/checkAvailability":{"get":{"tags":["Disponibilità"],"summary":"Verifica disponibilita' ","description":"Verifica che lo slot di disponibilità sia occupabile lato RECUP in base ai parametri impostati. Se la verifica è positiva viene effetuato un blocco della disponibilità","operationId":"findV4CheckAvailabilityUsingGET","parameters":[{"name":"availabilityDateTime","in":"query","description":"Data e ora dello slot da verificare con formato ISO 8601 es. 2022-07-22T09:12:28Z","required":true,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"externalDiary","in":"query","description":"Codice agenda della struttura accreditata","required":true,"style":"form","schema":{"type":"string"}},{"name":"orderCURIds","in":"query","description":"Lista codici cur prestazioni da ricercare, separati da virgola. Vedi Schema HealthcareServiceR.code da utilizzare più CUR solo nel caso di prestazioni raggruppabili. Se lo scenario prevede la verifica di disponibiltà di più prestazioni non raggruppabili il seguente microservizio dovrà essere invocato N volte in base alla N prestazioni.","required":true,"style":"form","schema":{"type":"string"}},{"name":"personIdentifier","in":"query","description":"In questo campo è possibile passare: <ul><li>Codice fiscale dell'assistito</li><li>Codice STP (codice per identificare paziente \"straniero temporaneamente presente\" su suolo italiano). Il codice in questione deve avere come prefisso STP</li><li>Codice ENI (codice per identificare paziente \"europeo non iscritto\" in condizioni di indigenza e privi di assistenza sanitaria). Il codice in questione deve avere come prefisso ENI</li></ul>","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfPreBookingRead"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Disponibilità non presente"}},"security":[{"basicAuth":[]}]}},"/api/v4/external-authorities/checkAvailability":{"get":{"tags":["Disponibilità"],"summary":"Verifica disponibilita' ","description":"Verifica che lo slot di disponibilità sia occupabile lato RECUP in base ai parametri impostati. Se la verifica è positiva viene effetuato un blocco della disponibilità","operationId":"findV4CheckAvailabilityUsingGET_1","parameters":[{"name":"availabilityDateTime","in":"query","description":"Data e ora dello slot da verificare con formato ISO 8601 es. 2022-07-22T09:12:28Z","required":true,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"externalDiary","in":"query","description":"Codice agenda della struttura accreditata","required":true,"style":"form","schema":{"type":"string"}},{"name":"orderCURIds","in":"query","description":"Lista codici cur prestazioni da ricercare, separati da virgola. Vedi Schema HealthcareServiceR.code da utilizzare più CUR solo nel caso di prestazioni raggruppabili. Se lo scenario prevede la verifica di disponibiltà di più prestazioni non raggruppabili il seguente microservizio dovrà essere invocato N volte in base alla N prestazioni.","required":true,"style":"form","schema":{"type":"string"}},{"name":"personIdentifier","in":"query","description":"In questo campo è possibile passare: <ul><li>Codice fiscale dell'assistito</li><li>Codice STP (codice per identificare paziente \"straniero temporaneamente presente\" su suolo italiano). Il codice in questione deve avere come prefisso STP</li><li>Codice ENI (codice per identificare paziente \"europeo non iscritto\" in condizioni di indigenza e privi di assistenza sanitaria). Il codice in questione deve avere come prefisso ENI</li></ul>","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfPreBookingRead"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Disponibilità non presente"}},"security":[{"basicAuth":[]}]}},"/api/v1/oms/booking":{"get":{"tags":["Appuntamenti/Prenotazioni"],"summary":"C.10. Ricerca Prenotazioni (metodo usato per lo scenario Vaccini)","description":"Il servizio permette cercare le prenotazioni dati vari parametri disponibili","operationId":"findVaccineBookingsUsingGET","parameters":[{"name":"admissionCode","in":"query","description":"admission Code ","required":true,"style":"form","schema":{"type":"string"}},{"name":"code","in":"query","description":"Codice singolo appuntamento","required":false,"style":"form","schema":{"type":"string"}},{"name":"executionUnitIds","in":"query","description":"Filtro per ID unità erogante, lista di id unità eroganti separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"fromDate","in":"query","description":"Dalla data","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"patientId","in":"query","description":"riferimento anagrafico del cittadino corrente","required":true,"style":"form","schema":{"type":"string"}},{"name":"processId","in":"query","description":"identificazione del processo di prenotazione","required":false,"style":"form","schema":{"type":"string"}},{"name":"serviceIds","in":"query","description":"Filtro per ID prestazione, lista di id prestazioni separati da virgola","required":false,"style":"form","schema":{"type":"string"}},{"name":"toDate","in":"query","description":"Alla data","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"view","in":"query","description":"view","required":false,"style":"form","schema":{"type":"string","enum":["AVR","normal","synthetic","treemap","ultrasynthetic","ultraverbose","usercontext","verbose"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfBookingVaccineR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]},"delete":{"tags":["Appuntamenti/Prenotazioni"],"summary":"C.9B. Cancellazione Prenotazione da Codice Accettazione (metodo usato per lo scenario Vaccini)","description":"Cancella la prenotazione partendo dal codice dell’accettazione. Il risultato della cancellazione è uguale a quello della cancellazione per id.","operationId":"deleteBookingByAdmissionCodeUsingDELETE","parameters":[{"name":"admissionCode","in":"query","description":"codice accettazione","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfBookingVaccineR"}}}},"204":{"description":"No Content"},"400":{"description":"<ul><li>BOOKING_NOT_FOUND - appuntamento non trovato</li><li>BOOKING_DATE_EXPIRED - appuntamento con data < data richiesta cancellazione</li><li>ALREADY_DELETED - appuntamento già cancellato</li><li>ALREADY_EROGATED - appuntamento già erogato</li></ul>"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]}},"/api/v1/oms/booking/combined":{"post":{"tags":["Appuntamenti/Prenotazioni"],"summary":"C.8. Inserimento appuntamenti multipli (metodo usato per lo scenario Vaccini)","description":"<p>Il servizio permette la prenotazione in transazione di entrambi gli appuntamenti vaccinali ( prima e seconda somministrazione ). E’ il  servizio da invocare per completare il percorso di prenotazione ed dovrà essere invocato con i riferimenti alle effettive disponibilità pre-allocate per l’utente, ottenute da una precedente chiamata al servizio di lock ( vedi C.6). Vedi Schema per il request body</p>","operationId":"createBookingsUsingPOST","parameters":[{"name":"campaignId","in":"query","description":"codice campagna vaccinale per esempio “standard”","required":true,"style":"form","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingVaccineRRequest"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfBookingVaccineRResponse"}}}},"201":{"description":"Created"},"400":{"description":"<ul><li>CAMPAIGN_NOT_FOUND - Campagna non valida</li><li>MANDATORY_FIELDS - Campagna obbligatoria</li></ul>"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v1/oms/booking/{id}":{"delete":{"tags":["Appuntamenti/Prenotazioni"],"summary":"C.9. Cancellazione Prenotazione (metodo usato per lo scenario Vaccini)","description":"Cancella la prenotazione partendo dall’id","operationId":"deleteBookingUsingDELETE","parameters":[{"name":"id","in":"path","description":"Id del singolo appuntamento","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfBookingVaccineR"}}}},"204":{"description":"No Content"},"400":{"description":"<ul><li>BOOKING_NOT_FOUND - appuntamento non trovato</li><li>BOOKING_DATE_EXPIRED - appuntamento con data < data richiesta cancellazione</li><li>ALREADY_DELETED - appuntamento già cancellato</li><li>ALREADY_EROGATED - appuntamento già erogato</li></ul>"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]}},"/api/v1/oms/booking/{id}/memo":{"get":{"tags":["Appuntamenti/Prenotazioni"],"summary":"C.11. Stampa Promemoria Prenotazione (metodo usato per lo scenario Vaccini)","description":"Il servizio ritorna il PDF di promemoria della prenotazione","operationId":"printMemoUsingGET","parameters":[{"name":"id","in":"path","description":"riferimento del primo o del secondo appuntamento","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v1/prenotazione-visite-specialistiche/oms/booking":{"get":{"tags":["Appuntamenti/Prenotazioni"],"summary":"Verifica status ricetta dema e Lista appuntamenti (metodo usato per lo scenario Visite Specialistiche)","operationId":"getSpecialistExaminationPrescriptionInfoUsingGET","parameters":[{"name":"params","in":"query","description":"params","required":true,"style":"deepObject","explode":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"view","in":"query","description":"view","required":false,"style":"form","schema":{"type":"string","enum":["AVR","normal","synthetic","treemap","ultrasynthetic","ultraverbose","usercontext","verbose"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfBookingR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]},"post":{"tags":["Appuntamenti/Prenotazioni"],"summary":"Conferma Prenotazione (metodo usato per lo scenario Visite Specialistiche)","operationId":"createSpecialistExaminationBookingUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingR"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfBookingR"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v1/prenotazione-visite-specialistiche/oms/booking/{id}":{"get":{"tags":["Appuntamenti/Prenotazioni"],"summary":"Recupera appuntamento dato il suo id (metodo usato per lo scenario Visite Specialistiche)","operationId":"getSpecialistExaminationBookingUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}},{"name":"view","in":"query","description":"view","required":false,"style":"form","schema":{"type":"string","enum":["AVR","normal","synthetic","treemap","ultrasynthetic","ultraverbose","usercontext","verbose"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfBookingR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]},"patch":{"tags":["Appuntamenti/Prenotazioni"],"summary":"Patch informazioni paziente (telefono/email) e Annulla appuntamento","description":"Metodo usato per modifica contatti paziente inerenti all'appuntamento / modificare lo stato. La modifica contatti paziente può avvenire solo su prenotazioni effettuate su enti interni. La modifica dello stato sia su prenotazioni su enti interni sia enti accreditati","operationId":"patchBookingUsingPATCH","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataResourceOfBookingR"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/MetadataResourceOfBookingR"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfBookingR"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfBookingR"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]}},"/api/v2/oms/booking":{"get":{"tags":["Appuntamenti/Prenotazioni"],"summary":"Verifica status ricetta dema e Lista appuntamenti (Metodo mantenuto per retrocompatibilita' uguale a GET: /api/v3/system-apis/booking )","operationId":"getPrescriptionInfoV2UsingGET","parameters":[{"name":"params","in":"query","description":"params","required":true,"style":"deepObject","explode":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"view","in":"query","description":"view","required":false,"style":"form","schema":{"type":"string","enum":["AVR","normal","synthetic","treemap","ultrasynthetic","ultraverbose","usercontext","verbose"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfBookingR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]},"post":{"tags":["Appuntamenti/Prenotazioni"],"summary":"Conferma Prenotazione (Metodo mantenuto per retrocompatibilita' uguale a POST: /api/v3/system-apis/bookings+ )","operationId":"createBookingV2UsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingR"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfBookingR"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]}},"/api/v2/oms/booking/{id}":{"get":{"tags":["Appuntamenti/Prenotazioni"],"summary":"Recupera appuntamento (Metodo mantenuto per retrocompatibilita' uguale a GET: /api/v3/system-apis/bookings+/{id} )","operationId":"findBookingV2UsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}},{"name":"view","in":"query","description":"view","required":false,"style":"form","schema":{"type":"string","enum":["AVR","normal","synthetic","treemap","ultrasynthetic","ultraverbose","usercontext","verbose"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfBookingR"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]},"patch":{"tags":["Appuntamenti/Prenotazioni"],"summary":"Patch informazioni paziente (telefono/email) e Annulla appuntamento (Metodo mantenuto per retrocompatibilita' uguale a PATCH: /api/v3/system-apis/bookings/{id} )","operationId":"patchBookingV2UsingPATCH","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataResourceOfBookingR"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/MetadataResourceOfBookingR"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfBookingR"}},"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfBookingR"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"basicAuth":[]}]}},"/api/v3/process-apis/booking-management/bookings":{"get":{"tags":["Appuntamenti/Prenotazioni"],"summary":"Recupero appuntamenti per un paziente e per Ente","description":"Il Servizio prevede sulla base del CF del paziente e ID dell’Ente il recupero di un elenco degli appuntamenti con lo stato di ogni appuntamento e tutti i dati.","operationId":"getBookingsByPatientAndAuthorityUsingGET","parameters":[{"name":"authorityId","in":"query","description":"Id di sistema dell'ente.","required":true,"style":"form","schema":{"type":"string"}},{"name":"fiscalCode","in":"query","description":"Codice Fiscale dell'assistito.","required":true,"style":"form","schema":{"type":"string"}},{"name":"fromDate","in":"query","description":"Ricerca a partire dal giorno nel formato: YYYY-MM-DDTHH:mm:ssZ es: 2022-08-01T00:00:00Z.","required":true,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"toDate","in":"query","description":"Ricerca fino al giorno nel formato: YYYY-MM-DDTHH:mm:ssZ es: 2022-08-31T00:00:00Z.","required":true,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"view","in":"query","description":"Consente di regolare la quantità di informazioni ritornate dal servizio. Di default è \"normal\"","required":false,"style":"form","schema":{"type":"string","enum":["AVR","normal","synthetic","treemap","ultrasynthetic","ultraverbose","usercontext","verbose"]}},{"name":"Range","in":"header","description":"Permette di specificare il numero di risultati da ottenere in risposta. Ad esempio  in una lista di 100 elementi : items=0-19 vedo i primi venti elementi della lista , 20-39 vedo gli elementi da posizione 20 a 39. Il range massimo impostabile è di 50 elementi di default è 20 (per esempio il range massimo 0-49,  50-99 etc…). Nell’header della risposta verrà tornato il numero totale dei risultati in modo da consentire al consumer di impostare le proprie regole di paginazione.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfBookingManagementBookingRead"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]},"post":{"tags":["Appuntamenti/Prenotazioni"],"summary":"Conferma Prenotazione","description":"Il servizio permette di creare un appuntamento. I dati necessari sono descritti nel tab schema del Request Body qui sotto.","operationId":"createBookingPBMUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingManagementBookingCreate"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourceOfBookingManagementBookingRead"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"basicAuth":[]}]},"patch":{"tags":["Appuntamenti/Prenotazioni"],"summary":"Modifica stato appuntamento","description":"Servizio per aggiornare lo stato di uno o più appuntamenti e relativi ordini (da notare la possibilità di impostare una lista di oggetti nel Request Body). E' possibile disdire , erogare o annullare l'erogazione.","operationId":"updateBookingsStatusUsingPATCH","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingManagementBookingPatch"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageResourcesOfBookingManagementBookingRead"}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"}},"security":[{"basicAuth":[]}]}},"/api/v3/process-apis/booking-management/bookings/list":{"post":{"tags":["Appuntamenti/Prenotazioni"],"summary":"Conferma Prenotazione","description":"Il servizio permette di creare piu' appuntamenti. I dati necessari sono descritti nel tab schema del Request Body qui sotto.","operationId":"createBookingPBMMultiUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingManagementBookingCreate"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"
[...]
